html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  margin: 2% 5%;
}

table {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
.caption {
  font-weight: bold;
  margin: 2rem 0;
}
th {
  background-color: #495057;
  color: #fff;
  border: 2px solid #fff;
}
.btn {
  width: 100%;
  border: none;
  background-color: #2b8a3e;
  color: #fff;
}
.cart {
  border: none;
}
.cap {
  caption-side: bottom;
}
